* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
}

.text-purple {
  color: #9427F7;
}

.bg-purple {
  background-color: #9427F7;
}

.outline-purple {
  border-color: #9427F7;
}


/* .btn-primary {
  background-color: #9427f7;
  color: white;
}

.btn-primary:hover {
  background-color: #6500c3;
}

.btn-outine-primary {
  border-color: #9427f7;
}

.btn-outine-primary:hover {
  background-color: #9427f7;
  color: white;
} */