* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
}

.text-purple {
  color: #9427F7;
}

.bg-purple {
  background-color: #9427F7;
}

.outline-purple {
  border-color: #9427F7;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track { */
/* background: #f1f1f1; */
/* } */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9427F7;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9427F7;
}

/* .btn-primary {
  background-color: #9427f7;
  color: white;
}

.btn-primary:hover {
  background-color: #6500c3;
}

.btn-outine-primary {
  border-color: #9427f7;
}

.btn-outine-primary:hover {
  background-color: #9427f7;
  color: white;
} */


.leaflet-control-attribution {
  display: none !important;
}